# Data Cleaning & Exploration - Pizza Place Orders

# Import Libraries

In [1]:
import pandas as pd
import numpy as np

# Load Dataset

In [2]:
# Import CSV file
orders = pd.read_csv('/Users/raheem-gsu/Documents/Github Portfolio Projects/Pizza-Order-Analysis/Datasets/Pizza Place Datasets/orders.csv')
order_details = pd.read_csv('/Users/raheem-gsu/Documents/Github Portfolio Projects/Pizza-Order-Analysis/Datasets/Pizza Place Datasets/order_details.csv')
pizza_types = pd.read_csv('/Users/raheem-gsu/Documents/Github Portfolio Projects/Pizza-Order-Analysis/Datasets/Pizza Place Datasets/pizza_types.csv', encoding='unicode_escape')
pizzas = pd.read_csv('/Users/raheem-gsu/Documents/Github Portfolio Projects/Pizza-Order-Analysis/Datasets/Pizza Place Datasets/pizzas.csv')

# Initial Data Inspection

In [3]:
# Display tables
orders.head()

   order_id        date      time
0         1  2015-01-01  11:38:36
1         2  2015-01-01  11:57:40
2         3  2015-01-01  12:12:28
3         4  2015-01-01  12:16:31
4         5  2015-01-01  12:21:30

In [4]:
order_details.head()

   order_details_id  order_id       pizza_id  quantity
0                 1         1     hawaiian_m         1
1                 2         2  classic_dlx_m         1
2                 3         2  five_cheese_l         1
3                 4         2    ital_supr_l         1
4                 5         2     mexicana_m         1

In [5]:
pizza_types.head()

,pizza_type_id,name,category,ingredients
0,bbq_ckn,The Barbecue Chicken Pizza,Chicken,"Barbecued Chicken, Red Peppers, Green Peppers,..."
1,cali_ckn,The California Chicken Pizza,Chicken,"Chicken, Artichoke, Spinach, Garlic, Jalapeno ..."
2,ckn_alfredo,The Chicken Alfredo Pizza,Chicken,"Chicken, Red Onions, Red Peppers, Mushrooms, A..."
3,ckn_pesto,The Chicken Pesto Pizza,Chicken,"Chicken, Tomatoes, Red Peppers, Spinach, Garli..."
4,southw_ckn,The Southwest Chicken Pizza,Chicken,"Chicken, Tomatoes, Red Peppers, Red Onions, Ja..."

In [6]:
pizzas.head()

     pizza_id pizza_type_id size  price
0   bbq_ckn_s       bbq_ckn    S  12.75
1   bbq_ckn_m       bbq_ckn    M  16.75
2   bbq_ckn_l       bbq_ckn    L  20.75
3  cali_ckn_s      cali_ckn    S  12.75
4  cali_ckn_m      cali_ckn    M  16.75

In [7]:
# Table information
orders.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 21350 entries, 0 to 21349
Data columns (total 3 columns):
 #   Column    Non-Null Count  Dtype
---  ------    --------------  -----
 0   order_id  21350 non-null  int64
 1   date      21350 non-null  object
 2   time      21350 non-null  object
dtypes: int64(1), object(2)
memory usage: 500.5+ KB

In [8]:
order_details.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 48620 entries, 0 to 48619
Data columns (total 4 columns):
 #   Column            Non-Null Count  Dtype
---  ------            --------------  -----
 0   order_details_id  48620 non-null  int64
 1   order_id          48620 non-null  int64
 2   pizza_id          48620 non-null  object
 3   quantity          48620 non-null  int64
dtypes: int64(3), object(1)
memory usage: 1.5+ MB

In [9]:
pizza_types.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 32 entries, 0 to 31
Data columns (total 4 columns):
 #   Column         Non-Null Count  Dtype
---  ------         --------------  -----
 0   pizza_type_id  32 non-null     object
 1   name           32 non-null     object
 2   category       32 non-null     object
 3   ingredients    32 non-null     object
dtypes: object(4)
memory usage: 1.1+ KB

In [10]:
pizzas.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 96 entries, 0 to 95
Data columns (total 4 columns):
 #   Column         Non-Null Count  Dtype
---  ------         --------------  -----
 0   pizza_id       96 non-null     object
 1   pizza_type_id  96 non-null     object
 2   size           96 non-null     object
 3   price          96 non-null     float64
dtypes: float64(1), object(3)
memory usage: 3.1+ KB

# Data Cleaning

## Merging time and date fields

In [11]:
# Combines 'date' and 'time' fields into a single datetime field called 'timestamp'
orders['timestamp'] = pd.to_datetime(orders['date'] + ' ' + orders['time'])

In [12]:
# Verify results
orders.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 21350 entries, 0 to 21349
Data columns (total 4 columns):
 #   Column     Non-Null Count  Dtype
---  ------     --------------  -----
 0   order_id   21350 non-null  int64
 1   date       21350 non-null  object
 2   time       21350 non-null  object
 3   timestamp  21350 non-null  datetime64[ns]
dtypes: datetime64[ns](1), int64(1), object(2)
memory usage: 667.3+ KB

In [13]:
# Drop 'date' and 'time' fields
orders.drop(columns=['date', 'time'], inplace=True)

In [14]:
# Verify new table
orders.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 21350 entries, 0 to 21349
Data columns (total 2 columns):
 #   Column     Non-Null Count  Dtype
---  ------     --------------  -----
 0   order_id   21350 non-null  int64
 1   timestamp  21350 non-null  datetime64[ns]
dtypes: datetime64[ns](1), int64(1)
memory usage: 333.7 KB

# Exploratory Data Analysis (EDA)

## Descriptive Statistics

In [23]:
orders.describe()

           order_id                      timestamp
count  21350.000000                          21350
mean   10675.500000  2015-06-29 16:16:51.249133568
min        1.000000            2015-01-01 11:38:36
25%     5338.250000  2015-03-31 16:08:10.750000128
50%    10675.500000     2015-06-28 18:38:25.500000
75%    16012.750000     2015-09-27 13:57:23.500000
max    21350.000000            2015-12-31 23:02:05
std     6163.358459                            NaN

In [15]:
order_details.describe()

       order_details_id      order_id      quantity
count      48620.000000  48620.000000  48620.000000
mean       24310.500000  10701.479761      1.019622
std        14035.529381   6180.119770      0.143077
min            1.000000      1.000000      1.000000
25%        12155.750000   5337.000000      1.000000
50%        24310.500000  10682.500000      1.000000
75%        36465.250000  16100.000000      1.000000
max        48620.000000  21350.000000      4.000000

In [25]:
pizzas.describe()

           price
count  96.000000
mean   16.440625
std     4.090266
min     9.750000
25%    12.500000
50%    16.250000
75%    20.250000
max    35.950000

## Handling Outliers

These datasets don't have any outliers!

## Handling Missing Values

In [17]:
orders.isnull().sum()

order_id     0
timestamp    0
dtype: int64

In [18]:
order_details.isnull().sum()

order_details_id    0
order_id            0
pizza_id            0
quantity            0
dtype: int64

In [19]:
pizzas.isnull().sum()

pizza_id         0
pizza_type_id    0
size             0
price            0
dtype: int64

In [20]:
pizza_types.isnull().sum()

pizza_type_id    0
name             0
category         0
ingredients      0
dtype: int64

There are no missing values in these datasets!

## What are the pizza categories?

In [21]:
# View pizza categories
pizza_types['category'].value_counts()

category
Supreme    9
Veggie     9
Classic    8
Chicken    6
Name: count, dtype: int64

There are 4 main categories of pizzas.

## What does the pizza menu look like?

In [22]:
# Pivot table that shows Pizza Menu
menu = pizza_types[['category', 'pizza_type_id', 'name']]
pd.pivot_table(menu, index=['category', 'pizza_type_id', 'name'])

Empty DataFrame
Columns: []
Index: [(Chicken, bbq_ckn, The Barbecue Chicken Pizza), (Chicken, cali_ckn, The California Chicken Pizza), (Chicken, ckn_alfredo, The Chicken Alfredo Pizza), (Chicken, ckn_pesto, The Chicken Pesto Pizza), (Chicken, southw_ckn, The Southwest Chicken Pizza), (Chicken, thai_ckn, The Thai Chicken Pizza), (Classic, big_meat, The Big Meat Pizza), (Classic, classic_dlx, The Classic Deluxe Pizza), (Classic, hawaiian, The Hawaiian Pizza), (Classic, ital_cpcllo, The Italian Capocollo Pizza), (Classic, napolitana, The Napolitana Pizza), (Classic, pep_msh_pep, The Pepperoni, Mushroom, and Peppers Pizza), (Classic, pepperoni, The Pepperoni Pizza), (Classic, the_greek, The Greek Pizza), (Supreme, brie_carre, The Brie Carre Pizza), (Supreme, calabrese, The Calabrese Pizza), (Supreme, ital_supr, The Italian Supreme Pizza), (Supreme, peppr_salami, The Pepper Salami Pizza), (Supreme, prsc_argla, The Prosciutto and Arugula Pizza), (Supreme, sicilian, The Sicilian Pizza), (Supreme, soppressata, The Soppressata Pizza), (Supreme, spicy_ital, The Spicy Italian Pizza), (Supreme, spinach_supr, The Spinach Supreme Pizza), (Veggie, five_cheese, The Five Cheese Pizza), (Veggie, four_cheese, The Four Cheese Pizza), (Veggie, green_garden, The Green Garden Pizza), (Veggie, ital_veggie, The Italian Vegetables Pizza), (Veggie, mediterraneo, The Mediterranean Pizza), (Veggie, mexicana, The Mexicana Pizza), (Veggie, spin_pesto, The Spinach Pesto Pizza), (Veggie, spinach_fet, The Spinach and Feta Pizza), (Veggie, veggie_veg, The Vegetables + Vegetables Pizza)]

Note: `pizza_type_id` is an alias given to the names of the pizzas within the pizza menu.

# Export Cleaned Dataset

In [89]:
orders.to_csv('orders (cleaned)', index=False)